In [ ]:
# nstall pyspark library
!pip3 install pyspark

In [ ]:
#import pyspark library
import pyspark

In [ ]:
#import spark session library
from pyspark.sql import SparkSession

# Create spark session and set hive metastore property

In [ ]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, HiveContext
SparkContext.setSystemProperty("hive.metastore.uris", "thrift://54.146.199.106:9083")
sparkSession = (SparkSession
                .builder
                .appName('integration-pyspark-hive')
                .enableHiveSupport()
                .getOrCreate())

# check what databases in available in hive

In [ ]:
sparkSession.sql('show databases').show()

In [ ]:
# create spark datafrme from csv file
AirlineDF = sparkSession.read.option("header", "true").csv("airlines1.csv")

In [ ]:
AirlineDF.show()

In [ ]:
#create new dataframe and select some columns
AirlineDF1 = AirlineDF.select("Year","Reporting_Airline")

In [ ]:
AirlineDF1.show()

In [ ]:
sparkSession.sql("show databases").show()

# create database in hive

In [ ]:
sparkSession.sql("create database flight1").show()

In [ ]:
sparkSession.sql("show databases").show()

In [ ]:
sparkSession.sql("use flight1").show()
sparkSession.sql("show tables").show()

# Read write data from spark to hive table
# we need database which is already created

In [ ]:
AirlineDF1.write.saveAsTable("flight1.air3")

In [ ]:
sparkSession.sql("use flight1").show()
sparkSession.sql("show tables").show()

In [ ]:
sparkSession.sql("select * from air3").show()

# create table from pyspark to hive and apply some sql oprations

In [ ]:
sparkSession.sql("create database test11").show()

In [ ]:
sparkSession.sql('show databases').show()

In [ ]:
sparkSession.sql('use test11').show()

In [ ]:
sparkSession.sql('show tables').show()

In [ ]:
sparkSession.sql('create table people (id int,name string)').show()

In [ ]:
sparkSession.sql('insert into people (id,name) values (100,"tom")').show()

In [ ]:
sparkSession.sql('insert into people (id,name) values (102,"jack")').show()

In [ ]:
sparkSession.sql('select * from people').show()

In [ ]:
df1 = sparkSession.sql('select * from people')

In [ ]:
df1.show()

In [ ]:
df1.write.mode("overwrite").saveAsTable("test11.people1")

In [ ]:
sparkSession.sql('show tables').show()

In [ ]:
sparkSession.sql('select * from people1').show()

In [ ]:
sparkSession.sql('drop table people1').show()

In [ ]:
sparkSession.sql('show tables').show()

In [ ]:
#drop database error comes because some tables in available in database
sparkSession.sql('drop database test11').show()

In [ ]:
sparkSession.sql('drop table people').show()

In [ ]:
sparkSession.sql('drop database test11').show()

In [ ]:
sparkSession.sql('show databases').show()